# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write here which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* In case you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [2]:
import os

# Get the current directory
current_dir = os.getcwd()
print("Current Directory:", current_dir)

# Change the directory to the new path
os.chdir('/workspace/milestone-project-housing-issues')

# Get the updated current directory
current_dir = os.getcwd()
print("New Current Directory:", current_dir)

Current Directory: /workspace/milestone-project-housing-issues/jupyter_notebooks
New Current Directory: /workspace/milestone-project-housing-issues

# Load and Inspect Dataset

Load dataset and confirm no missing data

In [2]:
# Load dataset
import pandas as pd
df_houseprices = pd.read_csv(f"/workspace/milestone-project-housing-issues/outputs/datasets/cleaned/HousePricesClean.csv")
df_houseprices.head()

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,GarageArea,GarageFinish,GarageYrBlt,...,LotArea,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,548,RFn,2003.0,...,8450,65.0,196.0,61,5,7,856,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,460,RFn,1976.0,...,9600,80.0,0.0,0,8,6,1262,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,608,RFn,2001.0,...,11250,68.0,162.0,42,5,7,920,2001,2002,223500
3,961,0.0,3.0,No,216,ALQ,540,642,Unf,1998.0,...,9550,60.0,0.0,35,5,7,756,1915,1970,140000
4,1145,0.0,4.0,Av,655,GLQ,490,836,RFn,2000.0,...,14260,84.0,350.0,84,5,8,1145,2000,2000,250000

In [3]:
#Using EvaluateMissingData() function to display missing data for df_houseprices_clean
def EvaluateMissingData(df_houseprices):
  missing_data_absolute = df_houseprices.isnull().sum()
  missing_data_percentage = round(missing_data_absolute/len(df_houseprices)*100, 2)
  df_missing_data = (pd.DataFrame(
              data={"RowsWithMissingData": missing_data_absolute,
                  "PercentageOfDataset": missing_data_percentage,
                  "DataType": df_houseprices.dtypes}
                  )
             .sort_values(by=['PercentageOfDataset'], ascending=False)
             .query("PercentageOfDataset > 0")
             )

  return df_missing_data

EvaluateMissingData(df_houseprices)

Empty DataFrame
Columns: [RowsWithMissingData, PercentageOfDataset, DataType]
Index: []

---

# Correlation Analysis

Section 2 content

In [6]:
from feature_engine.encoding import OneHotEncoder
encoder = OneHotEncoder(variables=df_houseprices.columns[df_houseprices.dtypes=='object'].to_list(), drop_last=False)
df_ohe = encoder.fit_transform(df_houseprices)
print(df_ohe.shape)
df_ohe.head(3)

(1460, 40)

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtFinSF1,BsmtUnfSF,GarageArea,GarageYrBlt,GrLivArea,LotArea,LotFrontage,...,BsmtFinType1_LwQ,GarageFinish_RFn,GarageFinish_Unf,GarageFinish_Missing,GarageFinish_Fin,GarageFinish_None,KitchenQual_Gd,KitchenQual_TA,KitchenQual_Ex,KitchenQual_Fa
0,856,854.0,3.0,706,150,548,2003.0,1710,8450,65.0,...,0,1,0,0,0,0,1,0,0,0
1,1262,0.0,3.0,978,284,460,1976.0,1262,9600,80.0,...,0,1,0,0,0,0,0,1,0,0
2,920,866.0,3.0,486,434,608,2001.0,1786,11250,68.0,...,0,1,0,0,0,0,1,0,0,0

In [9]:
df_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   1stFlrSF              1460 non-null   int64
 1   2ndFlrSF              1460 non-null   float64
 2   BedroomAbvGr          1460 non-null   float64
 3   BsmtFinSF1            1460 non-null   int64
 4   BsmtUnfSF             1460 non-null   int64
 5   GarageArea            1460 non-null   int64
 6   GarageYrBlt           1460 non-null   float64
 7   GrLivArea             1460 non-null   int64
 8   LotArea               1460 non-null   int64
 9   LotFrontage           1460 non-null   float64
 10  MasVnrArea            1460 non-null   float64
 11  OpenPorchSF           1460 non-null   int64
 12  OverallCond           1460 non-null   int64
 13  OverallQual           1460 non-null   int64
 14  TotalBsmtSF           1460 non-null   int64
 15  YearBuilt             1460 non-null   int64
 16  YearRemodAdd          1460 non-null   int64
 17  SalePrice             1460 non-null   int64
 18  BsmtExposure_No       1460 non-null   int64
 19  BsmtExposure_Gd       1460 non-null   int64
 20  BsmtExposure_Mn       1460 non-null   int64
 21  BsmtExposure_Av       1460 non-null   int64
 22  BsmtExposure_None     1460 non-null   int64
 23  BsmtFinType1_GLQ      1460 non-null   int64
 24  BsmtFinType1_ALQ      1460 non-null   int64
 25  BsmtFinType1_Unf      1460 non-null   int64
 26  BsmtFinType1_Rec      1460 non-null   int64
 27  BsmtFinType1_Missing  1460 non-null   int64
 28  BsmtFinType1_BLQ      1460 non-null   int64
 29  BsmtFinType1_None     1460 non-null   int64
 30  BsmtFinType1_LwQ      1460 non-null   int64
 31  GarageFinish_RFn      1460 non-null   int64
 32  GarageFinish_Unf      1460 non-null   int64
 33  GarageFinish_Missing  1460 non-null   int64
 34  GarageFinish_Fin      1460 non-null   int64
 35  GarageFinish_None     1460 non-null   int64
 36  KitchenQual_Gd        1460 non-null   int64
 37  KitchenQual_TA        1460 non-null   int64
 38  KitchenQual_Ex        1460 non-null   int64
 39  KitchenQual_Fa        1460 non-null   int64
dtypes: float64(5), int64(35)
memory usage: 456.4 KB

---

In [12]:
corr_spearman = df_ohe.corr(method='spearman')['SalePrice'].sort_values(key=abs, ascending=False)[1:].head(10)
corr_spearman

OverallQual       0.809829
GrLivArea         0.731310
YearBuilt         0.652682
GarageArea        0.649379
TotalBsmtSF       0.602725
KitchenQual_TA   -0.581803
1stFlrSF          0.575408
YearRemodAdd      0.571159
GarageYrBlt       0.563256
KitchenQual_Gd    0.478583
Name: SalePrice, dtype: float64

In [13]:
corr_pearson = df_ohe.corr(method='pearson')['SalePrice'].sort_values(key=abs, ascending=False)[1:].head(10)
corr_pearson

OverallQual       0.790982
GrLivArea         0.708624
GarageArea        0.623431
TotalBsmtSF       0.613581
1stFlrSF          0.605852
YearBuilt         0.522897
KitchenQual_TA   -0.519298
YearRemodAdd      0.507101
KitchenQual_Ex    0.504094
MasVnrArea        0.472614
Name: SalePrice, dtype: float64

---

# Push files to Repo

* If you do not need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create here your folder
  # os.makedirs(name='')
except Exception as e:
  print(e)