# **Notebook 8: Best model for Predicting House Prices in Ames, Iowa**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write here which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* In case you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

In [ ]:
import os

# Get the current directory
current_dir = os.getcwd()
print("Current Directory:", current_dir)

# Change the directory to the new path
os.chdir('/workspace/milestone-project-housing-issues')

# Get the updated current directory
current_dir = os.getcwd()
print("New Current Directory:", current_dir)

# Load dataset

In [4]:
import pandas as pd

# Loading original dataset for houseprices, for the steps to establish the best model for the houseprice predictor
df_houseprices_bestmodel = pd.read_csv('/workspace/milestone-project-housing-issues/outputs/datasets/final/HousePricesBestModel.csv')
print(df_houseprices_bestmodel.shape)
df_houseprices_bestmodel.head(10)

(1460, 7)

,OverallQual,GrLivArea,GarageArea,TotalBsmtSF,YearBuilt,LotArea,SalePrice
0,7,1710,548,856,2003,8450,208500
1,6,1262,460,1262,1976,9600,181500
2,7,1786,608,920,2001,11250,223500
3,7,1717,642,756,1915,9550,140000
4,8,2198,836,1145,2000,14260,250000
5,5,1362,480,796,1993,14115,143000
6,8,1694,636,1686,2004,10084,307000
7,7,2090,484,1107,1973,10382,200000
8,7,1774,468,952,1931,6120,129900
9,5,1077,205,991,1939,7420,118000

In [3]:
# Loading the Inherited Houses dataset for estimating the houseprice of each of the client's inherited houses
df_houseprices_inheritedhouses = pd.read_csv('/workspace/milestone-project-housing-issues/inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv')
print(df_houseprices_inheritedhouses.shape)
df_houseprices_inheritedhouses.head()

(4, 23)

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotArea,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd
0,896,0,2,No,468.0,Rec,270.0,0,730.0,Unf,...,11622,80.0,0.0,0,6,5,882.0,140,1961,1961
1,1329,0,3,No,923.0,ALQ,406.0,0,312.0,Unf,...,14267,81.0,108.0,36,6,6,1329.0,393,1958,1958
2,928,701,3,No,791.0,GLQ,137.0,0,482.0,Fin,...,13830,74.0,0.0,34,5,5,928.0,212,1997,1998
3,926,678,3,No,602.0,GLQ,324.0,0,470.0,Fin,...,9978,78.0,20.0,36,6,6,926.0,360,1998,1998

In [5]:
df_houseprices_inheritedhouses[['OverallQual', 'GrLivArea', 'GarageArea', 'YearBuilt', 'TotalBsmtSF', 'LotArea']]

   OverallQual  GrLivArea  GarageArea  YearBuilt  TotalBsmtSF  LotArea
0            5        896       730.0       1961        882.0    11622
1            6       1329       312.0       1958       1329.0    14267
2            5       1629       482.0       1997        928.0    13830
3            6       1604       470.0       1998        926.0     9978

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as they support your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* If you do not need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create here your folder
  # os.makedirs(name='')
except Exception as e:
  print(e)